{% extends 'portal/base/head.html' %}
{% load static %}

{% block body_content %}

    {% block body %}

        <!-- BEGIN HEADER -->
        <div id="top-wrapper">
            {% block top_wrapper %}

            {% endblock %}
        </div>
        <!-- END HEADER -->


        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            {% block page_container %}
            {% endblock page_container %}
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->


        <!-- BEGIN FOOTER -->
        <!-- BEGIN PRE-FOOTER -->
        <div class="page-prefooter">
            {% block page_prefooter %}
            {% endblock page_prefooter %}
        </div>
        <!-- END PRE-FOOTER -->

        <!-- BEGIN INNER FOOTER -->
        <div class="page-footer">
            {% block page_footer %}
            {% endblock page_footer %}
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
        <!-- END INNER FOOTER -->
        <!-- END FOOTER -->
    {% endblock body %}

    {% block layout_scripts %}
        <!--[if lt IE 9]>
        <script src="{% static 'portal/assets/global/plugins/respond.min.js' %}"></script>
        <script src="{% static 'portal/assets/global/plugins/excanvas.min.js' %}"></script>
        <![endif]-->

        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'portal/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
    {% endblock layout_scripts %}

    {% block extra_layout_scripts %}
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'portal/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static 'portal/assets/layouts/layout3/scripts/layout.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/layouts/layout3/scripts/demo.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/layouts/layout3/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>

        <script src="{% static 'portal/assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/global/plugins/jquery-validation/js/additional-methods.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'subscriber/assets/pages/scripts/login.min.js' %}" type="text/javascript"></script>

    {% endblock extra_layout_scripts %}




{% endblock body_content %}