
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 footer-block">
                <h2>COMPANY</h2>
                <ul class="nav nav-pills footer-menu">
                    <li role="presentation"><a href="{% url 'portal:about' %}">About</a></li>
                    <li role="presentation"><a href="#">Support</a></li>
                    <li role="presentation"><a href="#">Blog</a></li>
                    <li role="presentation"><a href="#">Privacy Policy</a></li>
                    <li role="presentation"><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                <h2>SOCIAL</h2>
                <ul class="social-icons">
                    <li>
                        <a href="javascript:;" data-original-title="facebook" class="facebook"></a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="twitter" class="twitter"></a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="linkedin" class="linkedin"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>CONTACT</h2>
                <p><a href="#">enquiries@esupplierportal.com</a></p>
            </div>
        </div>
    </div>
