{% extends 'subscriber/login.html' %}

{% block title %}eSupplier | Registration{% endblock title %}


{% block body %}
    <div class="menu-toggler sidebar-toggler"></div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{{ STATIC_URL }}subscriber/assets/images/logo.png" alt="" /> </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">

        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form" action="{% url 'subscriber:registration_landing_activate' activation_code %}" method="post" enctype="multipart/form-data">
            <h3 class="form-title font-blue">Complete your registration.</h3>

            {% csrf_token %}

            {% if form.form.non_field_errors %}

                <div class="alert alert-danger">
                <button class="close" data-close="alert"></button>

                {% for err in form.non_field_errors %}
                    <span> {{ err }}</span>
                {% endfor %}


            </div>
            {% endif %}

            <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                <label class="control-label visible-ie8 visible-ie9">Name</label>

                {{ form.first_name }}

                {% if form.fist_name.errors %}
                    <span class="help-block" id="id_first_name-error">{{ form.first_name.errors }}.</span>
                {% endif %}

            </div>


            <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                <label class="control-label visible-ie8 visible-ie9">Username</label>

                {{ form.username }}

                {% if form.username.errors %}
                    <span class="help-block" id="id_username-error">{{ form.username.errors }}.</span>
                {% endif %}

            </div>

            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                {{ form.email }}

                {% if form.email.errors %}
                    <span class="help-block has-error" id="id_username-error">{{ form.email.errors }}.</span>
                {% endif %}

            </div>

            <div class="form-group {% if form.password1.errors %}has-error{% endif %}">

                <label class="control-label visible-ie8 visible-ie9">Password</label>
                {{ form.password1 }}

                {% if form.password1.errors %}
                    <span class="help-block has-error" id="id_password1-error">{{ form.password1.errors }}.</span>
                {% endif %}

            </div>

            <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                {{ form.password2 }}
                 {% if form.password2.errors %}
                    <span class="help-block has-error" id="id_password2-error">{{ form.password2.errors }}.</span>
                {% endif %}
            </div>
            
            
            <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                <label class="control-label visible-ie8 visible-ie9">Phone</label>
                {{ form.phone }}
                 {% if form.phone.errors %}
                    <span class="help-block has-error" id="id_password2-error">{{ form.phone.errors }}.</span>
                {% endif %}
            </div>

			<div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                <label class="control-label">Select a profile Image</label>
                {{ form.profile_image }}
                 {% if form.profile_image.errors %}
                    <span class="help-block has-error" id="id_profile_image-error">{{ form.profile_image.errors }}.</span>
                {% endif %}
            </div>
			
            <div class="form-actions">
                <button type="submit" id="register-submit-btn" class="btn blue uppercase pull-right">Register</button>
            </div>

        </form>
        <!-- END REGISTRATION FORM -->

    </div>
    <div class="copyright">Copyright &copy; 2013 - 2015. eSupplierPortal. </div>
{% endblock body %}

