{% extends 'subscriber/base.html' %}

{% block title %}eSupplier | Forgot Password{% endblock title %}
{% block body_classes %}login{% endblock body_classes %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}subscriber/assets/pages/login.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}subscriber/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}subscriber/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <style>
        .error{
            color: #CC0000;
            padding-top: 10px;
        }

        .error label{
            text-align: center;
        }

        .errorlist{
            color: #CC0000;
        }
    </style>

{% endblock extra_css %}


{% block body %}
    <div class="menu-toggler sidebar-toggler"></div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{{ STATIC_URL }}subscriber/assets/images/logo.png" alt="" /> </a>
    </div>
    <div class="content">

        <form class="forget-form" action="{% url 'subscriber:forget_password' %}" method="post">
            {% csrf_token %}
            <h3 class="font-blue">Forgot Password ?</h3>
            <p> Enter your e-mail address below to reset your password. </p>

            <div class="form-group">
                {{ form.email }}

                {% if form.email.errors %}
                    <span class="help-block" id="id_first_name-error">{{ form.email.errors }}.</span>
                {% endif %}
            </div>
            <div class="form-actions">
                <a href="{% url 'subscriber:login' %}" type="button" class="btn btn-default">Back</a>
                <button type="submit" class="btn blue uppercase pull-right">Submit</button>
            </div>

        </form>


    </div>
    <div class="copyright">Copyright &copy; 2013 - 2015. eSupplierPortal. </div>
{% endblock body %}

{% block extra_layout_scripts %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="application/javascript">

        $(document).ready(function(){
            $(".forget-form").validate({
                rules: {

                    email: {
                        required: true,
                        email:true
                    }
                },
                messages: {
                    email: {
                        required: "This field is required",
                        email: "Enter a valid email address.\r\tex: hello@abc.com",
                    }
                }
            });
        })

    </script>


{% endblock %}