{% extends 'subscriber/base.html' %}

{% block title %}eSupplier | change password{% endblock title %}
{% block body_classes %}login{% endblock body_classes %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}subscriber/assets/pages/login.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}subscriber/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}subscriber/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <style>
        .error{
            color: #CC0000;
            padding-top: 10px;
        }

        .error label{
            text-align: center;
        }
    </style>

{% endblock extra_css %}


{% block body %}
    <div class="menu-toggler sidebar-toggler"></div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{{ STATIC_URL }}subscriber/assets/images/logo.png" alt="" /> </a>
    </div>
    <div class="content">

        <form class="reset-form" action="{% url 'subscriber:reset_password' code %}" method="post">
            {% csrf_token %}
            <h3 class="font-blue">Change password</h3>
            <p><h5>Enter new password below to change your password.<h5></p>

            <div class="form-group">
                <input type="password" class="form-control placeholder-no-fix" autocomplete="off",
                       placeholder= "Password" id="id_password" name="password" required=""/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control placeholder-no-fix" autocomplete="off",
                       placeholder= "Confirm password " id="id_password1" name="password1"required=""/>
                <center><span><h6>Enter the same password as above, for verification.</h6></span></center>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn blue uppercase pull-right">Change password</button>
            </div>

        </form>


    </div>
    <div class="copyright">Copyright &copy; 2013 - 2015. eSupplierPortal. </div>
{% endblock body %}

{% block extra_layout_scripts %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="application/javascript">

        $(document).ready(function(){
            $(".reset-form").validate({
                rules: {

                    password: {
                        required: true,
                    },
                    password1: {
                        required: true,
                        equalTo: "#id_password"
                    }
                },
                messages: {
                    password: {
                        required: "This field is required",
                    },
                    password1:{
                        required: "This field is required",
                        equalTo: "Enter the same password as above, for verification."
                    }
                }
            });
        })

    </script>


{% endblock %}