{% extends 'subscriber/base.html' %}

{% block title %}eSupplier | Forgot Password{% endblock title %}
{% block body_classes %}login{% endblock body_classes %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}subscriber/assets/pages/login.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}subscriber/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}subscriber/assets/css/responsive.css" rel="stylesheet" type="text/css" />
{% endblock extra_css %}


{% block body %}
    <div class="menu-toggler sidebar-toggler"></div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{{ STATIC_URL }}subscriber/assets/images/logo.png" alt="" /> </a>
    </div>
    <div class="content">

        {% csrf_token %}

        <p class="font-blue" style="text-align:center; font-size:1.8em">

            {% if email_sent %}
               To reset your password, follow the instructions in the email we've just sent you to</br></br>{{ email }}
            {% else %}
                "An error ocurred, please try again.."
            {% endif %}
        </p>

        <div class="form-actions">
            <div class="form-actions">
               <center> <a href="{% url 'subscriber:login' %}" type="button" class="btn btn-default">Back</a></center>
            </div>
        </div>

    </div>
    <div class="copyright">Copyright &copy; 2013 - 2015. eSupplierPortal. </div>
{% endblock body %}

