{% extends 'subscriber/base.html' %}

{% block title %}eSupplier | change password{% endblock title %}
{% block body_classes %}login{% endblock body_classes %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}subscriber/assets/pages/login.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}subscriber/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}subscriber/assets/css/responsive.css" rel="stylesheet" type="text/css" />
{% endblock extra_css %}


{% block body %}
    <div class="menu-toggler sidebar-toggler"></div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{{ STATIC_URL }}subscriber/assets/images/logo.png" alt="" /> </a>
    </div>
    <div class="content">

        {% csrf_token %}

        <h5><p class="font-blue" style="text-align:center; font-size:1.8em">
            Password Changed Successfully. &nbsp; Click on below button to login.
        </p></h5>

        <div class="form-actions">
            <div class="form-actions">
                <center><a href="{% url 'subscriber:login' %}" type="button" class="btn blue uppercase ">
                    Login
                </a></center>
            </div>
        </div>
    </div>
    <div class="copyright">Copyright &copy; 2013 - 2015. eSupplierPortal. </div>
{% endblock body %}

